@import "../base";
@import "./config";

.Header {
  background-color: $header-background-color;
  height: $header-height;
}

.Header__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  max-width: $header-width;
}

.Header__logoContainer {
  align-items: center;
  color: $header-text-color;
  display: flex;
}

.Header__logo {
  img {
    margin-right: 10px;
    width: 30px;
  }
}

.Header__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
