//-- Color definitions taken from Material Design Lite

$viroolBlue: #5D90E2;
$viroolLightBlue: #DCE8FD;
$viroolBlueHover: #5BA0FE;
$viroolBlueActive: #7CB1F9;
$viroolSecondaryBlueActive: #DAE8FD;

$viroolPink: #F13591;
$viroolPinkHover: darken(#F13591, 10%);
$viroolPinkActive: lighten(#F13591, 10%);
$viroolPinkFocus: darken(#F13591, 10%);

$viroolGreen: #7AC028;
$viroolGreenHover: darken(#7AC028, 10%);
$viroolGreenActive: lighten(#7AC028, 10%);
$viroolGreenFocus: darken(#7AC028, 10%);

$viroolGray: #DFDFDF;
$viroolLightGray: #FAFAFA;
$viroolDarkGray: #2F323A;
$viroolDark: #2F323A;
$viroolPaleGray: #F1F1F1;
$viroolDarkPaleGray: #E3E3E3;

$viroolRed: #EA5747;
$viroolGoldenRod: #EB9D0E;
$viroolKhaki: #E9E11A;
$viroolPurple: #B877DF;
$viroolTurquoise: #5ED9E0;
$viroolLimeGreen: #85F193;

$viroolMirage: #3a4249;

$viroolLogoBlue: #006cff;

$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);
