// scss-lint:disable VendorPrefix

@mixin typo-display-4 {
  font-family: $preferred-font;
  font-size: 11.2rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.04em;
}

@mixin typo-display-3 {
  font-family: $preferred-font;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -.02em;
}

@mixin typo-display-2 {
  font-family: $preferred-font;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4.8rem;
}

@mixin typo-display-1 {
  font-family: $preferred-font;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4rem;
}

@mixin typo-headline {
  font-family: $preferred-font;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  -moz-osx-font-smoothing: grayscale;
}

@mixin typo-title {
  font-family: $preferred-font;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .02em;
}

@mixin typo-subhead {
  font-family: $preferred-font;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: .04em;
}

@mixin typo-subhead-2 {
  font-family: $preferred-font;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: .04em;
}

@mixin typo-body-2 {
  font-family: $preferred-font;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0;
}

@mixin typo-body-1 {
  font-family: $preferred-font;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0;
}

@mixin typo-caption {
  font-family: $preferred-font;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
}

@mixin typo-blockquote {
  font-family: $preferred-font;
  position: relative;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: .08em;

  &:before {
    position: absolute;
    left: -.5em;
    content: "“";
  }

  &:after {
    margin-left: -.05em;
    content: "”";
  }
}

@mixin typo-menu {
  font-family: $preferred-font;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

@mixin typo-button {
  font-family: $preferred-font;
  font-size: 14px;
  font-weight: 500;
}

@mixin no-webkit-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin btn-colors($name, $color, $background, $hover, $active, $border, $border-hover, $border-active) {
  .#{$name}:not([disabled]) {
    color: $color;
    background: $background;
    border-color: $border;
    &:hover {
      background: $hover;
      border-color: $border-hover
    }
    &:active {
      background: $active;
      border-color: $border-active;
    }
  }
}
