$header-height: 80px;
$dropdown-item-height: 40px;
$menu-background-color: $viroolDarkGray;
$menu-text-color: $color-white;

$button-height: 40px;
$button-padding: 0 18px;
$button-border-radius: 4px;

$button-primary-color-contrast: $color-white !default;
$button-primary-color-hover: $viroolBlueHover !default;
$button-primary-color-active: $viroolBlueActive !default;
$button-primary-color: $viroolBlue  !default;
